h1.site-title-appear {
    transition: opacity 1.25s;
    opacity: 0;
}

.site-menu-appear {
    transition: opacity .75s .25s;
    opacity: 0;
}

h1.site-title-appear-active,
.site-menu-appear-active {
    opacity: 1;
}