h1.site-title-appear {
    transition: opacity 1.25s;
    opacity: 0;
}

h1.site-title-appear-active {
    opacity: 1;
}

.site-menu-appear fieldset,
.site-menu-appear button {
    opacity: 0;
    transition: opacity .5s .5s;
}

.site-menu-appear.site-menu-appear-active fieldset,
.site-menu-appear.site-menu-appear-active button {
    opacity: 1;
}